.transition-container {
  color: #ff9aa2;
  margin: 0 auto;
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  padding-top: 14rem;
}

.text {
  opacity: 1;
}
