* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #333;
  background-color: #1c1c1c;
}

.container {
  margin: 0 auto;
  width: 120rem;
  max-width: 95%;
}

/* NAVIGATION SECTION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo-name {
  font-family: "Great Vibes", cursive;
  font-size: 3.8rem;
  background: linear-gradient(45deg, #ff6b81, #ffdde1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(255, 107, 129, 0.3);
}

.toggle-btn {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2f2f2f;
  box-shadow: 0 4px 8px rgba(255, 207, 129, 0.2);
}

/* HERO SECTION */
.hero {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14rem;
  /* margin-bottom: 120rem; */
}

.hero-header-text {
  font-family: "Great Vibes", cursive;
  font-size: 6.8rem;
  background: linear-gradient(45deg, #ff6b81, #ffdde1); /* romantic gradient */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 8px rgba(255, 107, 129, 0.1);

  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s 0.5s forwards;
}

.hero-header-subText {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #ffdde1;
  margin-top: 1.2rem;

  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s 0.8s forwards;
}

.heart {
  position: absolute;
  font-size: 3.2rem;
}

#first-heart {
  top: 10%;
  left: 15%;
  animation: rotate 2s ease-in-out infinite;
}

#second-heart {
  top: 22%;
  right: 20%;
  animation: rotate 2.5s ease-in-out infinite alternate-reverse;
}

#third-heart {
  bottom: 25%;
  left: 10%;
  animation: rotate 3.5s ease-in-out infinite;
}

.scroll-text {
  color: #f1f1f1;
  margin: 4.8rem;

  opacity: 0;
  transform: translateY(20px) scale(0.95);
  animation: fade-bounce 1s ease-out forwards;
  animation-delay: 1.2s; /* after subtext */
}

#heart-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

/* FEELINGS SECTION */
.lumina-feel,
.lumina-energy,
.lumina-audience {
  margin-bottom: 6.4rem;
}

.lumina-feel {
  margin-top: -4rem;
}

.section-inner,
.footer-inner {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.section-heading {
  font-family: "Great Vibes", cursive;
  font-size: 4.2rem;
  color: #ff9aa2;
  margin-bottom: 0.875rem;
}

.section-text,
.energy-card p,
.audience-list,
.section-subtext {
  color: #f1f1f1;
  font-size: 1.6rem;
  line-height: 1.8;
}

/* ENERGY SECTION */
.energy-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2.4rem;
}

.energy-card {
  padding: 2.4rem 1.2rem;
  background: #2c2c2c;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.07);
}

.energy-card:nth-child(1) h3 {
  color: #ff9aa2;
}

.energy-card:nth-child(2) h3 {
  color: #c77d87;
}

.energy-card:nth-child(3) h3 {
  color: #f3e5ab;
}

.energy-card:nth-child(4) h3 {
  color: #a78eb7;
}

.audience-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.highlight {
  color: #ff9aa2;
  font-weight: 600;
}

/* CTA SECTION */
.lumina-cta {
  margin-bottom: 7rem;
}
.cta-btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #ff6b81;
  color: #f1f1f1;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(255, 107, 129, 0.1);
  transition: all 0.3s ease;
}

.cta-btn:hover {
  box-shadow: 0 8px 20px rgba(255, 107, 129, 0.3);
  transform: translateY(1px);
}

/* FOOTER SECTION */
.lumina-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2rem 1rem;
}
.footer-inner p {
  color: #f1f1f1;
  opacity: 0.7;
  font-size: 1.2rem;
}

.creator {
  color: #f3e5ab;
  font-weight: 600;
}
